<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SchoolWeb</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            color: #343a40; /* Default text color */
            margin: 0; /* Remove default margin */
        }

        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1030; /* Ensure it stays above other content */
        }

        .body-content {
            padding-bottom: 50px; /* Add space for footer */
        }

        footer {
            background-color: transparent; /* Keep the footer background transparent */
            color: #fff; /* White text color */
            padding: 10px 0;
            text-align: center;
            position: relative;
            bottom: 0;
            width: 100%;
        }

        hr {
            border-color: rgba(255, 255, 255, 0.3); /* Light white color for horizontal rule */
        }
    </style>
</head>
<body>
    @if (ViewBag.HideNavbar != true && User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                @Html.ActionLink("SchoolWeb", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <form action="@Url.Action("Logout", "Account")" method="post" class="form-inline">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-outline-light">Log Out</button>
                                </form>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year Copyright All rights reserved. Developed by Yildizlar Yatirim Holding.
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
